html, body {
  font-family: lato, Arial;
  text-align: center;
  color: #313131;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 64px;
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 1;
  }
}

#main {
  margin: 28px 28px;
  padding: 32px 0;
  border-radius: 16px;
  background: #F8EDE3;
}

@media (max-width: 768px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  border-radius: 48px;
  display: block;
  height: auto;
  margin: 4px auto 0 auto;
}

#img-div {
  background:#D0B8A8;
  padding: 12px 0;
  margin: 0;
  background: linear-gradient(#F8EDE3,#D0B8A8);
}

#img-caption {
  margin: 16px 0 8px 0;
}

#headline {
  margin: 48px 0;
  text-align: center;
}

ul {
  max-width: 560px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.5;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: center;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}
